@font-face {
  font-family: 'Geist';
  src:
    local('Geist-Thin'),
    url('../assets/fonts/Geist-Thin.woff2') format('woff2'),
    url('../assets/fonts/Geist-Thin.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src:
    local('Geist-Regular'), 
    url('../assets/fonts/Geist-Regular.woff2') format('woff2'),
    url('../assets/fonts/Geist-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src:
    local('Geist-Medium'),
    url('../assets/fonts/Geist-Medium.woff2') format('woff2'),
    url('../assets/fonts/Geist-Medium.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src:
    local('Geist-Bold'),
    url('../assets/fonts/Geist-Bold.woff2') format('woff2'),
    url('../assets/fonts/Geist-Bold.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: 'Geist', sans-serif;
  font-weight: 400;
}
